.menu_header_none{
    display: none;
}

.img_bg_3_Anone, .img_bg_3_Bnone, .img_bg_3_Cnone{
    display: none;
}

.img_bg_6_none, .img_bg_7_none{
    display: none;
}

.menu_430{
    display: none;
}

.block_img_none{
    display: none;
}

.menu_header{
        display: none;
    }