.img_bg_abc, .img_bg_cube{
    position: relative;
}

.img_bg_1, .img_bg_2, .img_bg_3, .img_bg_4, .img_bg_5{
    position: absolute;
}

.img_bg_1{
    z-index: 1;
    left: 150px;
    top: 70px;
}

.img_bg_2{
    z-index: 2;
    top: 120px;
    left: -170px;
}

.img_bg_3{
    z-index: 3;
    top: 400px;
    left: 270px;
}

.img_bg_4{
    top: -10px;
    left: 245px;
}

.img_bg_5{
    right: 30px;
    top: -100px;
}
