@media screen and (min-width: 1920px) {

    body {
        zoom: 1.15;
    }

    .text01_section_01 {
        font-size: 100px;
    }

    .text02_section_01 {
        font-size: 48px;
    }

    .text_section_02_flex {
        font-size: 100px;
    }

    .text_01_section_03,
    .text_section_04,
    .titles_section_06 {
        font-size: 60px;
    }

    .menu_header{
        display: none;
    }

}