@media (max-width: 430px){

    .section_04{
        margin-top: 103px;
    }
    
    .block_card_section_04{
        display: none;
    }

    .block_img_none{
        display: block;
    }

    .text_section_04{
        max-width: 273px;
        max-height: 80px;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
}