@media (max-width: 430px){
    .footer{
        max-width: 430px;
        max-height: 260px;
    }

    .text_top_left_footer{
        display: none;
    }
    
    .logo_footer{
        display: none;
    }

    .container_bottom_footer{
        display: none;
    }

    .title_finish_footer{
        display: none;
    }

    .text_finish_footer{
        display: none;
    }

    .list_contact_footer{
        font-size: 10px;
        letter-spacing: 0;
        gap: 0;
    }

    .block_footer_right{
        gap: 0;
        margin: 0;
    }

    .container_for_info_footer{
        gap: 0;
    }

    .list_info_footer{
        gap: 0;
        display: none;
    }
}