@media (max-width: 430px){

    .titles_section_06{
        max-width: 361px;
        max-height: 233px;
        font-size: 64px;
        line-height: 60px;
    }

    .text_section_06{
        max-width: 356px;
        max-height: 78px;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin-top: 76px;
    }

    .bt_section_06{
        max-width: 361px;
        max-height: 56px;
        font-size: 16px;
    }

    .block_bt_section_06{
        margin-top: 70px;
    }

    .google_map{
        display: none;
    }
}