

@media (max-width: 430px){
    body{
        max-width: 430px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: visible;
    }
    .header{
        display: none;
    }

    .icon_logo_header{
        max-width: 131px;
        max-height: 87px;
    }

    .nav, .header_btn{
        display: none;
    }
}